/* header */

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(249, 139, 253));
    height: 80px;
    .marca {
        display: flex;
        align-items: center;
        margin: 15px;
    }
    .navimg {
        img{
            border-radius: 50%;
        }
    }
    li {
        text-decoration: none;
        list-style: none;
        display: inline-block;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 10px;
        width: 120px;
        height: 30px;
    }

    li:hover, li a:hover{
        background: #ff00f2;
        color: white;
        border-radius: 12px;
    }
}

.carrito-temporizador {
    display: flex;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 200px;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    
}


.empty-cart-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

.icon-container:hover {
    cursor: pointer;
}

#contador-productos {
    position: absolute;
    font-size: 14px;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
    cursor: auto;
}

.cart-products-list {
    display: flex;
    padding: 20px;
    font-size: 16px;
    color: #333;
    justify-content: space-between;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.cantidad-productos-carrito {
    font-size: 16px;
    color: #555;
    width: 20px;
    text-align: center;
}

.nombre-producto {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    color: #333;
    justify-content: space-between;
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.precio-producto-carrito {
    font-weight: 700;
    color: #000;
    min-width: 50px;
    text-align: right;
}

.quantity-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-button {
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.quantity-button:hover {
    background-color: #ccc;
}

.icon-close {
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: #333;
}

.icon-close:hover {
    color: #ff00f2;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    .total-pagar {
        display: inherit;
        font-size: 20px;
        font-weight: 900;
        color: #000;
    }
    .boton {
        position: relative; 
        background-color: #000000;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 15px;
        z-index: 2;
        cursor: pointer;
        overflow: hidden;
        h4 {
            position: relative;
            z-index: 3;
            font-size: 16px;
            margin: 0;
            color: #fff;
        }    
    }
    .fondo-boton {
        position: absolute;
        z-index: 1;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
        border-radius: 15px;
        background-image: linear-gradient(
            45deg,
            violet, deeppink, rgb(146, 1, 146), 
            violet, deeppink, rgb(146, 1, 146), violet
        );
        background-size: 800%;
        filter: blur(10px);
        animation: glow 20s linear infinite; 
    }
    .boton:hover{
        transition: all .3s;
        transform: scale(1.07);
    }
    @keyframes glow {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}

/* footer */

.cont-footer img {
    margin: 20px;
    height: 50px;
    width: 50px; 
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}

.cont-footer img:hover{
    transition: all .5s;
    transform: scale(1.1);
}

.footer {
    background-color: #000000;
    height: 150px;
    display: flex;
    justify-content: space-around; 
    padding: 0 20px;
    .metodos-de-pago {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 30%;
        h6 {
            margin: 10px;
            margin-left: 10px;
            justify-content: left;
            color: #ffffff;
        }
        img {
            max-height: 120px;
            width: 120px;
            margin-left: 20px;
        }
        
    }
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        h6 {
            margin: 5px;
            color: #ffffff;
        }
        a {
            display: flex;
            text-align: center;
            justify-content: center;
            margin: 2px;
            height: 25px;
            text-decoration: none;
            color: #ffff;
        }
        img{
            height: 25px;
            margin-right: 10px;
        }
    }
}

/* Linea separadora */

.linea {
    margin: 5px;
    background-color: #ff00ff;
    height: 5px;
}