/* Body todas paginas*/

.body {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    background-image: linear-gradient(to top, #3841c7 0%, #c9c9c9 100%);
}

/* Banner */

.introbanner {
    height: 300px;
    position: relative;
    h1 {
        color: #ffffff;
        text-shadow: 0px 0px 10px #1f5a9e,
                     0px 0px 20px #0c2f7c;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
}

/* Bienvenida */

.intro {
    h2 {
        display: grid;
        place-items: center;
        color: #ffffff;
        text-shadow: 0px 0px 10px #1f5a9e,
                     0px 0px 20px #0c2f7c;
    }
    .parrafo {
        color: #000000;
        display: grid;
        place-self: center;
        width: 50%;
        text-shadow: 1px 1px 10px #40aadb;
        margin: 10px;
    }
}

#check {
    display: none;
}
.content{
    display: none;
}
label {
    width: 20px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0px 0px 10px #1f5a9e,
                     0px 0px 20px #0c2f7c;
}

/* Body index*/

.h2-index {
    margin: 20px;
    display: grid;
    place-items: center;
    color: #ffffff;
    text-shadow: 0px 0px 10px #1f5a9e,
                     0px 0px 20px #0c2f7c;
}


.productos  {
    display: grid;
    place-self: center;
    width: 500px;
    .slide {
        margin: 20px;
        display: grid;
        place-self: center;
        width: 500px;
        border-radius: 24px;
        box-shadow: 7px 13px 25px #000; 
        .imagen-carousel {
            border-radius: 24px;
        }
    }
    .slide:hover{
        transition: all .5s;
        transform: scale(1.1);
    }
}


.sobre-nosotros {
    display: grid;
    place-self: center;
    width: 500px;
    h2 {
        margin: 20px;
        display: grid;
        place-items: center;
        color: #ffffff;
        text-shadow: 0px 0px 10px #1f5a9e,
                     0px 0px 20px #0c2f7c;
    }
    img {
        margin: 20px;
        display: grid;
        place-self: center;
        border-radius: 24px;
        width: 500px;
        box-shadow: 7px 13px 25px #000;
    }
    img:hover{
        transition: all .5s;
        transform: scale(1.1);
    }
}

.servicio {
    display: grid;
    place-self: center;
    width: 500px;
    h2 {
        margin: 20px;
        display: grid;
        place-items: center;
        color: #ffffff;
        text-shadow: 0px 0px 10px #1f5a9e,
                     0px 0px 20px #0c2f7c;
    }
    img {
        margin: 20px;
        margin-bottom: 50px;
        width: 500px;
        border-radius: 24px;
        box-shadow: 7px 13px 25px #000;
    }
    img:hover{
        transition: all .5s;
        transform: scale(1.1);
    }
}