.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.inicio-sesion {
    background-color: #fff;
    border-radius: 16px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    h2 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .inicio-controls {
        width: calc(100% - 24px);
        background: #f0aade;
        padding: 10px;
        border-radius: 16px;
        margin-bottom: 16px;
        border: 1px solid #000;
        font-size: 18px;
        margin-left: 12px;
        margin-right: 12px;

        &:focus {
            background-color: #ffcaf8;
            color: #000;
        }
    }

    #show-password {
        cursor: pointer;
        font-size: 18px;
        color: #666;
        position: absolute;
        top: 135px;
        right: 30px;
    }

    .inicio-boton {
        width: calc(100% - 24px);
        background: rgb(255, 166, 240);
        border: none;
        padding: 12px;
        margin: 12px 0;
        font-size: 16px;
        border-radius: 16px;
        cursor: pointer;
        margin-left: 12px;
        margin-right: 12px;

        &:hover {
            background-color: #ec69fd;
            transition: all 0.3s;
            transform: scale(1.02);
        }
    }
}

