.iphone {
    margin: 20px;
    display: grid;
    place-items: center;
    color: #f1bae8;
    text-shadow: 0px 0px 10px #57027f,
                 0px 0px 20px #57027f;
}

.macbooks {
    margin: 20px;
    display: grid;
    place-items: center;
    color: #f1bae8;
    text-shadow: 0px 0px 10px #57027f,
                 0px 0px 20px #57027f;
}

.airpods {
    margin: 20px;
    display: grid;
    place-items: center;
    color: #f1bae8;
    text-shadow: 0px 0px 10px #57027f,
                 0px 0px 20px #57027f;
}

.container-airpods {
    margin-bottom: 50px;
}
